* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
header{
  /* background-color: bisque; */
  min-height: 56px;
  display: flex;
  justify-content: space-between;
  padding-inline: 8px;
  box-shadow: 4px 4px 8px silver;
}
nav.left{
  /* border: 1px dashed red; */
  width: 320px;
  display: flex;
  gap: 4px;
  align-items: center;
}
nav.left input{
  height: 40px;
  border: none;
  border-radius: 50px;
  padding-inline: 8px;
  font-size: 18px;
  flex-grow: 1;
  background-color:#e4e6eb ;
}


nav.center{
  /* border: 1px dashed red; */
  display: flex;
  align-items: center;
  flex-grow: 1;
  justify-content: center;
  gap: 8px;
}
nav.center .box-icon{
  width: 129px;
  height: 100%;
  /* background-color: aquamarine; */
  display: flex;
  justify-content: center;
  /* border-radius: 8px; */
}
nav.center .box-icon:hover{
  background-color: #eee;
  border-radius: 8px;
}
nav.right{
  /* border: 1px dashed red; */
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 10px;
}
nav.right .round-icon{
  width: 40px;
  height: 40px;
  background-color: #e4e6eb;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  
}
.main-wrapper{
  background-color: #eee;
  min-height: 100vh;
  display: flex;
  justify-content: space-between;
}
.sidebar-left{
  border: 1px dashed saddlebrown;
  min-height: 100vh;
  flex-basis: 300px;
}
.news-feed{
  border: 1px dashed saddlebrown;
  flex-basis: 680px;
}

.sidebar-right{
  border: 1px dashed saddlebrown;
  min-height: 100vh;
  flex-basis: 300px;
}
  
  
